<%- include ('../partials/header.ejs') %>
<main>
    <div class="jumbotron">
        <h1> <%= text %></h1>
        <div class="btn-group">
            <button type="button" class="btn btn-warning"><a href="/"> Back to Home Page</a></button>
            
        </div>
       
    </div>
    <img class="err-img" src="/img/404.png" alt="">
</main>








<%- include ('../partials/footer.ejs') %>
