<%- include ('../partials/header.ejs') %>
<main>
      <div class='container' id="weather-form">
        <form class="input-group mb-3" action="">
            <input class="fom-control" id="weather-input" type="text", placeholder="Location">

            <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-primary" type="button" id="search-weather-btn">Search</button>

            </div>
            
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
      </div>
      
</main>
  


<%- include('../partials/footer.ejs') %>